{# Little Less Protocol Suite - yaml converter
   Copyright (C) 2020 Frank Mueller

   SPDX-License-Identifier: MIT

   This is a template to generate markdown files to document a protocol.
#}
# {{ yaml['code'].text }} - {{ yaml['name'].text }}

{% if yaml['minVersion'] == yaml['maxVersion'] %}
Supported Version: {{ yaml['minVersion'].text }}
{% else %}
Supported Versions: {{ yaml['minVersion'].text }} .. {{ yaml['maxVersion'].text }}
{% endif %}

{{ yaml['description'].text | md }}

## Commands
| ID | Short | Long name |
| --:| ----- | --------- |
{% for cmd in yaml['commands'] %}
| [{{ cmd['id'].text }}]({{ cmd | cmd_link }}) | [{{ cmd['code'].text }}]({{ cmd | cmd_link }}) | [{{ cmd['name'].text }}]({{ cmd | cmd_link }}) |
{% endfor %}

{% for cmd in yaml['commands'] %}

- - -

### {{ cmd | cmd_title }}
{% if 'description' in message %}
{{ cmd['description'].text | md(3) }}
{% endif %}

#### Data structure

  {% for message in cmd['messages'] %}

- - -

    {% if 'senders' in message %}
Senders: {% for sender in message['senders'] %}{{ sender.text }}{% if not loop.last %}, {% endif %}{% endfor %}

    {% endif %}

    {% if 'receivers' in message %}
Receivers: {% for receiver in message['receivers'] %}{{ receiver.text }}{% if not loop.last %}, {% endif %}{% endfor %}

    {% endif %}

    {% if 'messageTypes' in message %}
Message types: {% for types in message['messageTypes'] %}{{ types.text }}{% if not loop.last %}, {% endif %}{% endfor %}

    {% endif %}

    {% if 'description' in message %}
{{ message['description'].text | md(4) }}
    {% endif %}

    {% if message['structureType'].text == 'markdown' %}
{{ message['structureDesc'].text | md(4) }}
    {% endif %}
  {% endfor %}
{% endfor %}
