{# Little Less Protocol Suite - yaml converter
   Copyright (C) 2020 Frank Mueller

   SPDX-License-Identifier: MIT

   This is a template to generate ino files for Arduino.
#}
{% import 'macros.cpp.jinja2' as cpp with context %}
#include <LittleLessProtocol.h>

{% include 'yaml2class_declaration.cpp.jinja2' %}


{{ cpp.class() }} {{ cpp.instance() }}(Serial);

void setup() {
  Serial.begin(9600);
}

void loop() {
  {{ cpp.instance() }}.loop();
}

{% include 'yaml2specific_class_implementation.cpp.jinja2' %}
